[submodule "3rdparty/amd_blobs"]
        active = true
        url = https://review.coreboot.org/amd_blobs
        update = none
[submodule "arm-trusted-firmware"]
        active = true
        url = https://review.coreboot.org/arm-trusted-firmware.git
[submodule "3rdparty/blobs"]
        active = true
        url = https://review.coreboot.org/blobs.git
        update = none
[submodule "3rdparty/chromeec"]
        active = true
        url = https://review.coreboot.org/chrome-ec.git
[submodule "3rdparty/ffs"]
        active = true
        url = https://review.coreboot.org/ffs.git
[submodule "3rdparty/fsp"]
        active = true
        url = https://review.coreboot.org/fsp.git
        update = none
[submodule "intel-microcode"]
        active = true
        url = https://review.coreboot.org/intel-microcode.git
        update = none
[submodule "libgfxinit"]
        active = true
        url = https://review.coreboot.org/libgfxinit.git
[submodule "libhwbase"]
        active = true
        url = https://review.coreboot.org/libhwbase.git
[submodule "opensbi"]
        active = true
        url = https://review.coreboot.org/opensbi.git
[submodule "vboot"]
        active = true
        url = https://review.coreboot.org/vboot.git
[submodule "util/nvidia-cbootimage"]
        active = true
        url = https://review.coreboot.org/nvidia-cbootimage.git
